h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 4em;
	font-weight: 700;
	letter-spacing: .045em;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

[class*='space-'] {
	margin: .75em 0;
	}

.space-title {
	padding: 4em 0;
	background-color: #1a237e;
}

.rectangle {
	background-color: rgba(215,216,231,0.9);
	border-radius:4px;
	height:4em;
}