h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	font-weight: 700;
	color: #feef6d;
}

a {
	text-decoration: none;
	color: #feef6d;
}

[class*='space-'] {
	margin: .75em 0;
	}

.space-title {
	padding: 4em 0;
	background-color: #2c3643;
	margin: 0 !important;
}

.rectangle {
	background-color: rgba(215,216,231,0.9);
	border-radius:4px;
	height:4em;
}
